SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=D2J278VrQUgmXMKHPJeSF3RxCGWUp5o6CkxCbTVxncSi
TOKEN_MINT_ADDRESS=6ALrw1kJZZqN8witRNFYxNYJtReCrf9dCiu35xW474AT
TREASURY_ACCOUNT=AW1cD4aBC8VKZdH2AiobwjYCgjFUt2f6xhvHhqZ8DGQW

# Optional backend vars used elsewhere
MONGO_URI='mongodb+srv://ejeziefranklin:b5tf1cKO0dzCQya8@cluster0.shywa.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
CRON_SECRET=replace-with-strong-secret
PORT=5000
